{% extends "base/base.html" %}

{% block contenido %} 
	<h1 align="center"> {{ titulo1 }} </h1>
	{% from "macro.html" import render_formu_alta_usuario %}
	
	<div class="container">
		<div class="col-lg8 col-lg-offset-2 col-md-10 col-md-offset1">
			<br>
			<br>
			<form name="loginasistema" id="loginasistema" method="POST">
				<input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
				<div class="row control-group">
					<div class="form-group col-xs-12 floating-label-form-group controls" align="center">
						{{ render_formu_alta_usuario(formulario.nombre1, class='form-controls') }}
						<p class="help-block text-danger"></p>
					</div>
				</div>
				<div class="row control-group">
					<div class="form-group col-xs-12 floating-label-form-group controls" align="center">
						{{ render_formu_alta_usuario(formulario.nombre2, class="form-controls") }}
						<p class="help-block text-danger"></p>
					</div>
				</div>
				<div class="row control-group">
					<div class="form-group col-xs-12 floating-label-form-group controls" align="center">
						{{ render_formu_alta_usuario(formulario.apellidoPaterno, class="form-controls") }}
						<p class="help-block text-danger"></p>
					</div>
				</div>
				<div class="row control-group">
					<div class="form-group col-xs-12 floating-label-form-group controls" align="center">
						{{ render_formu_alta_usuario(formulario.apellidoMaterno, class="form-controls") }}
						<p class="help-block text-danger"></p>
					</div>
				</div>
				<div class="row control-group">
					<div class="form-group col-xs-12 floating-label-form-group controls" align="center">
						{{ render_formu_alta_usuario(formulario.password, class="form-controls") }}
						<p class="help-block text-danger"></p>
					</div>
				</div>
				<div class="row control-group">
					<div class="form-group col-xs-12 floating-label-form-group controls" align="center">
						{{ render_formu_alta_usuario(formulario.email, class="form-controls") }}
						<p class="help-block text-danger"></p>
					</div>
				</div>

				<div class="row control-group">
					<div class="form-group col-xs-12 floating-label-form-group controls" align="center">
						{{ render_formu_alta_usuario(formulario.puestoF, class="form-controls") }}
						<p class="help-block text-danger"></p>
					</div>
					
				</div>
				<div id="success">
					<div class="row">
						<div class="form-group col-xs-12" align="center">
							<button type="submit" class="btn btn-default">Enviar</button>
						</div>
					</div>
					{{ puesto3 }}
				</div>

			</form>
		</div>
	</div>
{% endblock contenido %}